@charset "utf-8";

li {
    list-style: none;
}
body {
    position: relative;
    padding-bottom: 75px;
    min-height: 100%;
    justify-content: center;
    align-items: center;
  }
p, ul {
    margin: 0;
    padding: 0;
}
div,li {
    box-sizing: border-box;
}
.section_inner {
    padding: 50px 10% 30px;
}
.section_title {
    font-family: 'Noto Serif JP', serif;
    text-align: center;
    margin-bottom: 50px;
}
.section_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section_content img {
    width: 35%;
}
.section_content p {
    width: 60%;
}
h1 {
    font-size: 2rem;
}
.key {
    height: 500px;
    background: center/ cover no-repeat url("../web_html_grammer/sample_key.jpg");
    font-family: 'Noto Serif JP', serif;
    font-weight: bold;
    text-align: left;
    padding: 150px 50px 80px 100px;
}
.key h1 {
    font-size: 2.5rem;
}
#menu{
    background: center bottom/ cover no-repeat fixed url("../web_html_grammer/sample_menu_bg.jpg");
}
.menu_title {
    display: inline-block;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5rem;
    color: #41210b;
    border-bottom: solid #41210b 1px;
    margin-bottom: 20 px;
}
.div_principal {
    display: flex;
    background-color: #fff;
    flex-direction: column;
}
.div_1{
    display: flex;
}
.div_2 {
    display: flex;
    width: 49%;
    padding: 20px;
}
.div_3 {
    width: 80%;
    padding: 10px;
}
.div_2 img {
    width: 20%;
}
.contenedor_principal {
    display: flex;
    justify-content: space-between;

}
.contenedor_hijo {
    display: flex;
    background-color: #fff;
    margin: 20px;
    width: 49%;
    height: 300px;
    flex-direction: row-reverse;
}
.contenedor_hijo img{
    width: 55%;
    object-fit: auto;
    
}
.contenedor_hijo h2 {
    text-align: left;
    margin-left: 10px;
}
.contenedor_hijo p {
    color: #41210b;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1.2rem;
    overflow-wrap: break-word;  
}
.contenedor_hijo p:last-child{
    text-align: right;
    margin-top: 70px;
    font-size: 1.2rem;
}
.center {
    text-align: center;
}
.coffee_menu_image {
    width: 20%;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
.header_nav{
    background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
    display: flex;
    height: 60px;
    justify-content:space-between;
    align-items: stretch;
    position: fixed;
    top: 0;
    width: 100%;
}
.global_nav_item{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.global_nav_item:hover{
    background: #fff;
    color: #41210b;
}
.global_nav {
    display: flex;
    align-items: stretch;
}
dl{
    display: flex;
}
dt{
    width: 80px;
}
.logo{
    width: 120px;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100%;
}
.global_nav_footer{
    background-color: #251e19;
    color: #fff;
    display: flex;
    justify-content: center;
    height: 75px;
    width: 100%;
    position: absolute;
}
.footer_nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer_item{
    color: #fff;
    text-decoration: none;
}
.footer_nav li{
    padding: 10px;
}
.global_nav_footer img {
    display: flex ;
    width: auto;
    height: 40px;
}
small{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 10px;
}